<div class="left-nav">
    <ul class="nav menu flex-column">
        <li class="menu-item">
          <a class="menu-link menu-link--home @@home" aria-current="page" href="home.html">Панель управления</a>
        </li>
        <li class="menu-item">
          <a class="menu-link menu-link--sections @@sections">Разделы</a>
          <ul class="sub-menu">
              <li class="sub-menu__item">
                  <a href="sclad.html" class="sub-menu__link @@sclad">Склады</a>
                </li>
              <li class="sub-menu__item">
                  <a href="tovar.html" class="sub-menu__link @@tovar">Товары</a>
                </li>
          </ul>
        </li>
        <li class="menu-item">
          <a class="menu-link menu-link--oder @@oder" href="oder.html">Заказы</a>
        </li>
        <li class="menu-item">
            <a class="menu-link menu-link--setting @@settings" href="settings.html">Настройки пользователя</a>
          </li>
        <li class="menu-item">
            <a class="menu-link menu-link--ruls @@ruls" href="ruls.html">Правила использования личного кабинета</a>
        </li>
    </ul>
</div>