@include font-face("NotoSans-Black", "NotoSans-Black", 400);
@include font-face("NotoSans-BlackItalic", "NotoSans-BlackItalic", 400);
@include font-face("NotoSans-Bold", "NotoSans-Bold", 400);
@include font-face("NotoSans-BoldItalic", "NotoSans-BoldItalic", 400);
@include font-face("NotoSans-ExtraBold", "NotoSans-ExtraBold", 400);
@include font-face("NotoSans-ExtraBoldItalic", "NotoSans-ExtraBoldItalic", 400);
@include font-face("NotoSans-ExtraLight", "NotoSans-ExtraLight", 400);
@include font-face("NotoSans-ExtraLightItalic", "NotoSans-ExtraLightItalic", 400);
@include font-face("NotoSans-Italic", "NotoSans-Italic", 400);
@include font-face("NotoSans-Light", "NotoSans-Light", 400);
@include font-face("NotoSans-LightItalic", "NotoSans-LightItalic", 400);
@include font-face("NotoSans-Medium", "NotoSans-Medium", 400);
@include font-face("NotoSans-MediumItalic", "NotoSans-MediumItalic", 400);
@include font-face("NotoSans-Regular", "NotoSans-Regular", 400);
@include font-face("NotoSans-SemiBold", "NotoSans-SemiBold", 400);
@include font-face("NotoSans-SemiBoldItalic", "NotoSans-SemiBoldItalic", 400);
@include font-face("NotoSans-Thin", "NotoSans-Thin", 400);
@include font-face("NotoSans-ThinItalic", "NotoSans-ThinItalic", 400);
